*{
    margin: 0;
    padding: 0;
}
.headingStyle{
    background-color: black;
    color: yellow;
    font-size: 30px;
    padding: 20px;
    text-align: center;
}

.card {
    width: 335px;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 18px;
    background-color: aqua;
    color: black;
    line-height: 22px;
    float: left;
    border-radius: 20px;
    border: 2px solid red;
    text-align: center;
}

.cardTitle{
    font-size: 20px;
    font-family: cursive;
    margin-bottom: 10px;
}
.cardDescription{
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cardDate{
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}
.buttonStyle{
    background-color: black;
    color: aqua;
    border: 1px solid red;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.buttonStyle:hover{
    background-color: red;
    color: black;
    border: 1px solid yellow;
    transition: .07s;
}